.radical-red {
  background-color: #f52f58;
}
.caribbean-green {
  background-color: #00ce6c;
}
.web-orange {
  background-color: #ffa800;
}
.doger-blue {
  background-color: #3f9bff;
}
.purple-heart {
  background-color: #8143d9;
}
